<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Engineer</h3>
                            <div class="time">2015 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">Mad Street Den, Chennai(India)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Being my current company, my responsibilites here include designing and developing backend infrastructure as a platform upon which all the Artificial Intelligence products from Mad Street Den gets delivered to the world.</p>
                        <p>I designed and maintain multiple modules like Database wrappers, Ingestion modules of client's metadata pipeline, logging framework to facilitate the ease of use of the stack for the delivery team.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Serendio, Chennai(India)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Contributed in coding and architecting backend infrastructures
                        to handle big data. Designed and developed NRT data pipelines to handle large stream 
                        of data. Played a major role in guiding junior developers and participated in architectural decisions for numerous projects.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Firmware Design Engineer</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Alacrity Electronics, Chennai(India)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designed, developed and implemented firmware to run industrial panel meters. Being an embedded programmer in the R&amp;D team, I also developed python tools to automate the testing of tens and hundereds of meters which saved the time in production and man power.</p>

                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->