<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Engineer</h3>
                            <div class="time">2015 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">Mad Street Den, Chennai(India)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I joined here as one of the core backend engineer. I helped in abstracting and improving a large monolithic Artificial Intelligence platform into microservices architecture. This paved the way for MadStreetDen to build a full scale e-commerce suite of products called 
                        <a href="http://www.vue.ai" target="_blank"><u>vue commerce</u></a>.</p>
                        <p>After building the A.I platform, I started architecting products atop the platform. In this company, I have experienced the breaking down of large architecture to small microservices and scaling up of small 3 members engineering team to large 10 members one.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Serendio, Chennai(India)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I helped Serendio in architecting and coding backend infrastructures to handle big data. I designed and developed real-time data pipelines to handle large stream of data and deployed them in private cloud. I also played a major role in hiring engineers and guiding junior developers to build the team.</p>
                        <p>Coming from electronics background, I joined here as a rookie developer and worked my way towards becoming a Data Engineer. In this company I got to know what is software engineering and how production systems work. My career switch from an embedded engineer to a software engineer happened here.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Firmware Design Engineer</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Alacrity Electronics, Chennai(India)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I designed and programmed firmware for industrial panel meters. Being an embedded programmer in the R&amp;D team, I also developed many tools to automate the testing of tens and hundreds of meters which saved the time in production and man power.</p>

                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->