<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Decahose Data Management Platform</a></span><span class="project-tagline">
                    <ul>
                      <li>Designed, developed and produced Decahose Data Management Platform. Successfully implemented in Serendio.</li>
                      <li>This architecture ingests high volume of twitter stream (5000 tweets/min), enrich it on the fly, expose the stored data via REST API.</li>
                      <li>Technology stack : Python, Java, Kafka, Storm, Cassandra, Elasticsearch, Monit.</li>
                    </ul> 
                    </span>                    
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">EmotoData</a></span><span class="project-tagline">
                    <ul>
                      <li>Played a major role in development of an architecture to handle streaming data from Chinese websites, implemented in Serendio.</li>
                      <li>This service streams data from various Chinese websites like sina weibo, tencent, renren, etc. Enriches and stores them.</li>
                      <li>Technology stack : Python, Kafka, Cassandra, ElasticSearch, Solr.</li>
                    </ul> 
                    </span>                    
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Smart switch (Internet of Things)</a></span><span class="project-tagline">
                    <ul>
                      <li>Developed a multi pin socket box (spike buster), where devices connected in each sockets can be toggled on/off from Internet. A responsive web app has interface to toggle and monitor the energy readings of each devices connected in socket. Implemented in a hackathon.</li>
                      <li>Technology stack : Python, Flask, Arduino, Microcontrollers, SQLite.</li>
                    </ul> 
                    </span>                    
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Smart pill box (Internet of Things)</a></span><span class="project-tagline">
                    <ul>
                      <li>Developed a 4 compartment pill box that is connected to Internet. Once the details of pills in each compartment is setup in the web interface, It reminds at the respective time to take particular pill, Sends an email to place order when specific pill gets over. Implemented as hobby project.</li>
                      <li>Technology stack : Python, Flask, Arduino, Microcontrollers, SQLite.</li>
                    </ul> 
                    </span>                    
                </div><!--//item-->
            </section><!--//section-->