<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">  
                    <div class="topic">  
                        <h4 class="topic-title">Programming Languages</h4>
                        <div class="item">
                            <h3 class="level-title">Python</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="85%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Golang</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="70%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                    </div><!--//topic-->

                    <div class="topic">  
                        <h4 class="topic-title">Web frameworks</h4>
                        <div class="item">
                            <h3 class="level-title">Django</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="75%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        
                        <div class="item">
                            <h3 class="level-title">Flask</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="65%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                    </div><!--//topic-->

                    <div class="topic">  
                        <h4 class="topic-title">Databases</h4>
                        <div class="item">
                            <h3 class="level-title">PostgreSQL</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="80%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">MySQL</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="75%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Redis</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="85%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Casssandra</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="65%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">CouchDB</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="65%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">ElasticSearch</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="67%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                    </div><!--//topic-->

                    <div class="topic">  
                        <h4 class="topic-title">Queues</h4>
                        <div class="item">
                            <h3 class="level-title">Apache Kafka</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="80%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">AWS SQS</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="100%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                    </div><!--//topic-->

                    <div class="topic">  
                        <h4 class="topic-title">Deployment &amp; Infra</h4>    
                        <div class="item">
                            <h3 class="level-title">Docker</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="60%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Elastic Cloud Service</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="60%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Amazon Web Services</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="85%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Google Cloud</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="50%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                    </div><!--//topic-->

                    <div class="topic">  
                        <h4 class="topic-title">Miscellaneous</h4>    
                        <div class="item">
                            <h3 class="level-title">Git</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="85%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Nix systems</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="80%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">I.O.T</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="90%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="level-title">Continous delivery</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="95%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Clean, modular, testable code</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="95%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="level-title">Google search skills</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="100%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                    </div><!--//topic-->
                    
                </div>  
            </section><!--//skills-section-->